// variables
$baseFontsize: 14px;
$defaultWidth: 1920;
$defaultHeight: 1080;

//mixins
@mixin transformScale($val){
	-webkit-transform: scale($val);
	-moz-transform: scale($val);
	-ms-transform: scale($val);
	-o-transform: scale($val);
	transform: scale($val);
}



// imports
@import './partials/reset';
@import './partials/public';
@import './partials/scene';
@import './partials/panel';
@import './partials/planet';
@import './partials/exam';
@import './partials/result';
@import './partials/keyframes';

