// variables
$baseFontsize: 14px;
$defaultWidth: 1920;
$defaultHeight: 1080;

//mixins
@mixin border-radius($r){
	border-radius: $r;
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	-o-border-radius: $r;
}
@mixin centerDOM($r){
	
}

// imports
@import './partials/reset';
@import './partials/public';
@import './partials/scene';
@import './partials/panel';
@import './partials/planet';
