header,
.header-after,
.affix-top{
    display: none !important;
}

#nav {
    position: fixed;
    height: 50px;
    left: 80px;
    right: 20px;
    background: url(../images/nav/logo.png) 0 50% no-repeat;
    z-index: 999;
    color: #fff;
    font-size: 12px;
    line-height: 40px;
    a {
        position: absolute;
        left: 0;
        top: 0;
        width: 174px;
        height: 60px;
    }

    .info {
        float: right;
    }

    .username {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        margin-top: -10px;
    }

    button {
        margin-top: 10px;
        margin-right: 5px;
        width: 20px;
        height: 20px;
        background: 0/100% no-repeat;
    }

    .user-center {
        background-image: url(../images/user.png);
    }

    .rule {
        background-image: url(../images/rule.png);
    }

    .share {
        background-image: url(../images/share.png);
    }
}