.planets{
	.planet-1{
		width: percentage(1287/$defaultWidth);
		height: percentage(1493/$defaultHeight);
		position: absolute;
		opacity: .8;
		left: 50%;
		top: 20%;
		margin-left: -1/2 * percentage(1287/$defaultWidth);
		background: url(../images/planet-1.png) no-repeat;
		background-size: contain;
	}
	.planet-2{
		width: percentage(361/$defaultWidth);
		height: percentage(322/$defaultHeight);
		position: absolute;
		opacity: .8;
		left: -3%;
		top: 10%;
		background: url(../images/planet-2.png) no-repeat;
		background-size: contain;
	}
	.planet-3{
		width: percentage(317/$defaultWidth);
		height: percentage(286/$defaultHeight);
		position: absolute;
		opacity: .8;
		left: -3%;
		top: 10%;
		background: url(../images/planet-3.png) no-repeat;
		background-size: contain;
	}
	.planet-4{
		width: percentage(234/$defaultWidth);
		height: percentage(204/$defaultHeight);
		position: absolute;
		opacity: .8;
		left: -3%;
		top: 10%;
		background: url(../images/planet-4.png) no-repeat;
		background-size: contain;
	}
	.planet-5{
		width: percentage(603/$defaultWidth);
		height: percentage(477/$defaultHeight);
		position: absolute;
		opacity: .8;
		left: -3%;
		top: 10%;
		background: url(../images/planet-5.png) no-repeat;
		background-size: contain;
	}
}