@font-face {
	font-family: "Speed";
    src: url("../fonts/speed.TTF");
}
body{
	overflow: hidden!important;
}
.full{
	position: absolute;
	width: 100%;
	height: 100%;
}
#ufo{
	z-index: 1000;
	position: absolute;
	left: 45%;
	top: 40%;
	width: percentage(202/$defaultWidth);
	height: percentage(198/$defaultHeight);
	background: url(../images/ufo.png) center center no-repeat;
	background-size: contain;
	-ms-behavior: url(backgroundsize.min.htc);
	display: none\0;
}
#toggle-music {
    position: fixed;
    right: 100px;
    top: 90px;
    width: 29px;
    height: 33px;
    background: url(../images/stop-music.png) no-repeat;
    background-size: contain;
	-ms-behavior: url(backgroundsize.min.htc);
    &.status-stop {
        background: url(../images/start-music.png) no-repeat;
        background-size: contain;
        -ms-behavior: url(backgroundsize.min.htc);
    }
    transform: scale(1.5);
}
button{
	outline: none;
    border: 0 none;
    background: none;
}