.result{
	display: none;
	opacity: 0;
	z-index: 104;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -(645px / 2);
	margin-left: -1/2 * 882px;
	width: 882px;
	height: 645px;
	background: url(../images/box-result.png) no-repeat;
	.close{
		width: 70px;
		height: 70px;
		display: block;
		position: absolute;
		right: 42px;
		top: 0;
		z-index: 2;
	}
	.button{
		display: block;
		margin: 50px auto 0;
		width: 204px;
		height: 51px;
		font-size: 18px;
		color: #fff;
		text-shadow: 0 0 10px #27b6ff;
		line-height: 51px;
		text-align: center;
		background: url(../images/btn-wrap.png) no-repeat;
	}
	h3, p{
		font-size: 28px;
		color: #fff;
		text-align: center;
		margin-top: 200px;
		font-weight: normal;
		text-shadow: 0 0 10px #27b6ff;
	}
	p{
		font-size: 18px;
		margin-top: 20px;
		line-height: 28px;
	}
	.box-code{
		width: 435px;
		height: 118px;
		background: url(../images/box-code.png) no-repeat;
		text-align: center;
		line-height: 100px;
		margin: 50px auto;
		font-size: 16px;
		color: #fff;
	}
	.type-box{
		display: none;
	}
	.type-4{
		h3{
			margin-top: 100px;
		}
		p{
			a{
				color: #00c9ff;
				text-decoration: underline;
				margin: 0 5px;
			}
		}
	}
	.type-5{
		.hd{
			margin-left: 300px;
			margin-top: 65px;
			overflow: hidden;
			img{
				width: 98px;
				float: left;
			}
			h3{
				float: left;
				width: 300px;
				margin-left: 16px;
				margin-top: 21px;
				text-align: left;
			}
		}
		p{
			margin-top: 12px;
		}
		.form{
			position: relative;
			margin: 13px auto 0;
			width: 591px;
			height: 174px;
			background: url(../images/form-prize.png) no-repeat;
			input{
				position: absolute;
				border: 0 none;
				color: #fff;
				background: none;
			}
			#mobile{
				width: 168px;
				height: 26px;
				left: 100px;
				top: 10px;
			}
			#name{
				width: 168px;
				height: 26px;
				left: 415px;
				top: 10px;
			}
			#addr{
				width: 484px;
				height: 26px;
				left: 99px;
				top: 139px;
			}
			.selectbox, .subselect{
				position: absolute;
				cursor: pointer;
				width: 228px;
				padding-left: 5px;
				height: 32px;
				left: 95px;
				top: 76px;
				line-height: 32px;
				color: #fff;
			}
			.subselect{
				left: 362px;
			}
			.optionbox, .suboption{
				display: none;
				z-index: 2;
				position: absolute;
				overflow-y: scroll;
				left: 93px;
				top: 111px;
				width: 234px;
				height: 100px;
				background: #fff;
				li{
					padding-left: 10px;
					cursor: pointer;
					&:hover{
						color: #000;
						background: #D3D3D3;
					}
				}
			}
			.suboption{
				left: 359px;
				width: 228px;
			}
		}
		.button{
			margin: 21px auto 0;
		}

	}
	.type-6{
		padding-top: 50px;
		.innerbox{
			overflow-y: scroll;
			height: 400px;
			width: 80%;
			margin: 50px 0 0 100px;
			padding-right: 50px;
		}
		h3{
			margin-top: 0;
		}
		p{
			line-height: 36px;
			text-align: left;
			margin: 20px auto 0;
		}
	}
	.type-7{
		h3{
			margin-top: 90px;
			margin-bottom: 30px;
		}
		.hd{
			width: 655px;
			margin: 0 auto;
			padding-bottom: 20px;
			margin-bottom: 20px;
			font-size: 16px;
			color: #fff;
			background: url(../images/underline.png) center bottom no-repeat;
		}
		.bd{
			width: 655px;
			margin: 0 auto;
			p{
				text-align: left;
				margin: 10px 0;
			}
		}
	}
}